@model IEnumerable<LibraryManagementSystem.Models.BookCategoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Library Management System</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.BookCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BookCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BookCategoryId })
        </td>
    </tr>
}

</table>
